@import "_includes/reset.scss";
@import "_includes/variables.scss";
@import "_includes/mixins.scss";

section {
  // ON PEUT CALCULER DES CHOSES EN PURE CSS
  height: 100vh;
  // GRID SETTINGS
  display: grid;

  &.one-column {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.two-columns {
    background: purple;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;

    .center-content {
      background: white;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .transparent {
      background: transparent;
    }
  }
}

img {
  width: 120%;
}

.one-column {
  background-color: $primary-color;
}

.two-columns {
  background-color: $secondary-color;
}

.section-title {
  font-style: $primary-font;
  color: $third-color;
  text-align: $primary-position;
}