@import "_includes/reset.scss";
@import "_includes/variables.scss";
@import "_includes/mixins.scss";

section {
  // ON PEUT CALCULER DES CHOSES EN PURE CSS
  height: 100vh;
  // GRID SETTINGS
  display: grid;

  &.one-column {
    grid-template-columns: 1fr;
  }

  &.two-columns {
    grid-template-columns: 1fr 1fr;
  }

  &.first-row {
    grid-template-rows: 1fr;
  }

  &.second-row {
    grid-template-rows: 1fr 1fr;
  }
}

img {
  width: 150%;
}

.one-column {
  background-color: $primary-color;
}

.two-columns {
  background-color: $primary-color;
}

.section-title {
  font-style: $primary-font;
  color: $secondary-color;
  text-align: center;
  margin-top: $primary-margin;
}

.second-row {
  color: $secondary-color;
  text-align: center;
}