//MARGIN + PADDING $header-height: 75px;
$body-padding: 1rem; // COULEURS
$primary-color: rgba(0,0,0);
$secondary-color: rgba(255,255,255);
$primary-font: 'FUTURA';
$primary-position: width/2, weight/2;